<div class="vg-footer">
  <h1 class="text-center">B-Folio</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 py-3">
        <div class="footer-info">
          <p>{{ "translation.where-to-find-me" | translate }}</p>
          <hr class="divider" />

          <p class="fs-large fg-white">
            <i class="fa fa-location-arrow fg-theme" aria-hidden="true"></i>
            {{ "translation.my-address" | translate }}
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>{{ "translation.follow-me" | translate }}</p>
          <hr class="divider" />
          <ul class="list-unstyled">
            <li>
              <i
                class="fa-brands fa-linkedin-in fg-theme"
                aria-hidden="true"
              ></i>
              &nbsp;
              <a href="https://www.linkedin.com/in/bilel-daikhi" target="_blank"
                >LinkedIn</a
              >
            </li>
            <li>
              <i class="fa-brands fa-github fg-theme"></i> &nbsp;
              <a href="https://github.com/bilel-daikhi" target="_blank"
                >Github</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>{{ "translation.contact-me" | translate }}</p>
          <hr class="divider" />
          <ul class="list-unstyled">
            <li>
              <div class="row">
                <i class="fa-solid fa-envelope fg-theme"></i> &nbsp;
                bilel.daikhi@gmail.com
              </div>
            </li>
            <li>
              <div class="row">
                <i class="fa-solid fa-phone fg-theme"></i> &nbsp; +21622605020
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12">
        <p class="text-center mb-0 mt-4">
          Copyright &copy;2024. All right reserved |
          <a href="https://sbsa-solutions.web.app" target="_blank" class="fg-theme"><strong> SBSA Solutions.</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End footer -->
