<div
  class="vg-page page-home"
  id="home"
  style="background-image: url(/assets/img/bg_image_1.jpg);"
>
  <!-- Navbar -->
  <div class="navbar navbar-expand-lg navbar-dark sticky" data-offset="500">
    <div class="container">
      <a
        [routerLink]="['/landing#home']"
        routerLinkActive="active2"
        class="navbar-brand"
        >B-Folio</a
      >
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#main-navbar"
        aria-expanded="true"
      >
        <span class="ti-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
          <li
            class="nav-item"
            [class.active2]="(activeFragment$ | async) === 'home'"
          >
            <a
              routerLink="/landing"
              fragment="home"
              (click)="isSelected('portfolio')"
              class="nav-link active scroll"
              >{{ "translation.home" | translate }}</a
            >
          </li>
          <li
            class="nav-item"
            [class.active2]="(activeFragment$ | async) === 'about'"
          >
            <a
              routerLink="/landing"
              fragment="about"
              (click)="isSelected('about')"
              class="nav-link active scroll"
              >{{ "translation.about" | translate }}</a
            >
          </li>
          <li
            class="nav-item"
            [class.active2]="(activeFragment$ | async) === 'portfolio'"
          >
            <a
              routerLink="/landing"
              fragment="portfolio"
              (click)="isSelected('portfolio')"
              class="nav-link active scroll"
              >Portfolio</a
            >
          </li>

          <li
            class="nav-item"
            [class.active2]="(activeFragment$ | async) === 'contact'"
          >
            <a
              routerLink="/landing"
              fragment="contact"
              (click)="isSelected('portfolio')"
              class="nav-link active scroll"
              >{{ "translation.contact" | translate }}</a
            >
          </li>
        </ul>

        <ul class="nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle  text-white"
              href="#"
              id="languageDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              {{ currentlanguage === "fr" ? "FR" : "EN" }}
            </a>
            <div class="dropdown-menu dropdown-menu-right w-auto" aria-labelledby="languageDropdown">
              <a class="dropdown-item active" [class.active]="currentlanguage === 'en'" href="#" (click)="changeLanguage('en',$event)">EN</a>
              <a class="dropdown-item" href="#"  [class.active]="currentlanguage === 'fr'" (click)="changeLanguage('fr',$event)">FR</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!-- End Navbar -->

  <!-- Caption header -->
  <div class="caption-header text-center wow zoomInDown" *ngIf="is_main">
    <h5 class="fw-normal">{{ "translation.welcome" | translate }}</h5>
    <h1 class="fw-light mb-4">
      {{ "translation.im" | translate }} <b class="fg-theme">Bilel</b> Daikhi
    </h1>
    <div class="badge">{{ "translation.occupation" | translate }}</div>
  </div>
  <!-- End Caption header -->


  <div class='icon-scroll floating-button'></div>
  <div
    class="caption-header text-center wow zoomInDown"
    *ngIf="is_project_details"
  >
    <h1 class="fw-light mb-4" *ngIf="currentlanguage === 'fr'">
      <b class="fg-theme">Détails de </b>projet
    </h1>
    <h1 class="fw-light mb-4" *ngIf="currentlanguage === 'en'">
      <b class="fg-theme">Project </b>details
    </h1>
  </div>
  <div
    class="caption-header text-center wow zoomInDown"
    *ngIf="is_all_projects"
  >
    <h1 class="fw-light mb-4">
      <b>{{ "translation.all-my" | translate }} </b>
      <b class="fg-theme">{{ "translation.work" | translate }}</b>
    </h1>
  </div>
</div>
<!-- Back to top button -->
<div
  class="btn-back_to_top"
  *ngIf="isShow"
  (click)="gotoTop()"
  style="visibility: visible"
>
  <span class="ti-arrow-up"></span>
</div>
