.active2 {
    border-bottom: 3px solid #2960f7;
  }

  .page-home .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #343a40;
    z-index: 99;
}